@charset "UTF-8";
$regular: "Montserrat", sans-serif;
$title: "Barlow Condensed", sans-serif;
$subtitle: "Caveat", sans-serif;
$white: #ffffff;
$bgcolor: #9991C7;
$text: #000;
$bgtitle: #ED1FFF;

@mixin text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#es-rc #es-nyx.es-nyx {
  margin: 0 auto;
  padding: 0;
  font-family: $regular;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  overflow: hidden;
  background-color: $bgcolor;

  * {
      box-sizing: border-box;
  }
  h2,
  h3,
  h4,

  h5 {
      font-family: $regular;
  }

  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;
    &__model {
      @include img;
      order: 1;
    }
    &__bar {
      @include img;
      display: none;
      order: 2;
    }
    &__wrapper {
      position: relative;
      order: 3;
    }
    &__packshot {
      @include img;
      max-width: 95%;
    }
    &__title1 {
      position: absolute;
      top: 10%;
      right:5%;
      @include text;
      padding: 5px 5px;
      margin: 0 auto;
      rotate: -1.89deg;
      width: fit-content;
      color: #fff;
      text-transform: uppercase;
      font-family: $title;
      font-size: 16px;
      font-weight: 700;
      background-color: #000;
    }
    &__title2 {
      position: absolute;
      @include text;
      padding: 5px 5px;
      margin: 0 auto;
      width: fit-content;
      color: #fff;
      text-transform: uppercase;
      font-family: $title;
      font-size: 16px;
      font-weight: 700;
      background-color: #000;
      &--line1 {
        bottom: 25%;
        left:16%;
        rotate: 5.18deg;
      }
      &--line2 {
        bottom: 18%;
        left:7%;
        rotate: 3.48deg;
      }
      &--line3 {
        bottom: 11%;
        left:8%;
        rotate: -0.66deg;
      }
      &--line4 {
        bottom: 4%;
        left:10%;
        rotate: -3.9deg;
      }
    }
    &__ba {
      padding: 30px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    &__single {
      position: relative;
    }
    &__baImage {
      @include img;
    }
    &__baText {
      position: absolute;
      bottom: -10px;
      right: -10px;
      rotate: -10deg;
      @include img;
      background-color: #DB2591;
      color: #F9D63D;
      width: fit-content;
      text-align: center;
      min-width: 60px;
      padding: 5px;
      text-transform: uppercase;
      font-family: $title;
      font-size: 22px;
      font-weight: 700;

    }
  }

  .es-info {
    position: relative;
    &__bg {
      @include img;
      max-width: 95%;
    }
    &__title {
      position: absolute;
      @include text;
      padding: 5px 5px;
      margin: 0 auto;
      width: fit-content;
      color: #fff;
      text-transform: uppercase;
      font-family: $title;
      font-size: 16px;
      font-weight: 700;
      background-color: #000;
      &--1 {
        top: 4%;
        right:5%;
        rotate: -1.89deg;
      }
      &--2 {
        top: 18%;
        right:6%;
        rotate: -4.04deg;
      }
    }
    &__text {
      position: absolute;
      top: 50%;
      right: 5%;
      @include text;
      text-transform: uppercase;
      text-align: right;
      width: 30%;
      font-family: $title;
      font-weight: 400;
      font-size: 9px;
    }
    &__line {
      display: none;
    }
    &__arrow {
      position: absolute;
      &--1 {
        bottom: 35%;
        left: 5%;
      }
      &--2 {
        bottom: 3%;
        left: 8%;
      }
    }
    &__desc {
      @include text;
      font-family: $subtitle;
      font-size: 14px;
      rotate: -11deg;
    }
    &__arrowImg {
      width: 40%;
      position: absolute;
      &--1 {
        right:-20%;
        bottom: -30%;
      }
      &--2 {
        right:-20%;
        bottom: -30%;
      }

    }
  }

  .es-use {
    padding: 52px 0 0;
    margin: 0;
    position: relative;
    background-color: #F5DC5B;
    overflow: hidden;
    &__title {
      position: relative;
      z-index: 4;
      @include text;
      padding: 5px 5px;
      margin: 0 auto;
      rotate: -1.89deg;
      width: fit-content;
      color: #fff;
      text-transform: uppercase;
      font-family: $title;
      font-size: 42px;
      font-weight: 700;
      background-color: #000;
    }
    &__subtitle {
      z-index: 4;
      @include text;
      width: 75%;
      margin: 0 auto;
      padding-top: 15px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      font-family: $title;
      font-size: 14px;
      font-weight: 700;
    }
    &__wrapper {
      position: relative;
      padding: 32px 6%;
      z-index: 4;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    &__image {
      @include img;
    }
    &__single {
      max-width: 270px;
    }
    &__shape {
      position: absolute;
      z-index: 0;
      &--left {
        width: 37%;
        left: 2.43%;
        top: 0;
      }
      &--right {
        width: 27%;
        right: 2.3%;
        bottom: 0;
      }
    }

  }

  .es-video {
    padding: 8% 10% 8%;
    position: relative;
    &__container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      z-index: 1;
    }
    &__wrapper {
      margin: 0 auto;
      width: 80%;
    }
    iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__frame {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 84%;
      z-index: 0;
    }

  }

  .es-cross{
    padding:42px 20px 20px;
    position: relative;
    width: 100%;
    &__title{
        @include text;
        margin-left: 0px;
        font-family: $title;
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        padding: 5px 10px;
        text-transform: uppercase;
        color: $white;
    }
    &__productsCtn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;
    }
    &__single{
        max-width: 320px;
        margin: 10px;
        &:hover {
          .es-cross__img {
            transform: scale(1.1);
          }
        }
    }
    &__imgCtn{
        padding: 20px;
    }
    &__img{
      @include img;
      transition: 0.5s all;
    }
    &__nameCtn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    &__name{
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    &__descCtn{
        padding: 10px 0;
        min-height: 130px;
    }
    &__desc{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        background-color: #000;
        width: 200px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
        transition: .4s all ease-in-out;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: transparent;
            outline: 4px solid #000;
        }
    }
    &__disc {
      padding: 42px 10% 10px;
    }
    &__discText {
      
      @include text;
      margin: 0 auto;
      text-align: center;
      font-size: 12px;
      color: #213E7C;
    }
}
  .es-footer{
      width: 100%;
      background-color: #000;
      padding: 0 20px;
      &__logo{
          margin: 0 auto;
          display: block;
      }
  }
  @media screen and (min-width: 350px) {
    .es-kv {
      &__title1 {
        font-size: 18px;
      }
      &__title2 {
        font-size: 18px;
      }
    }
    .es-info {
      &__title {
        font-size: 18px;
      }
    }
  }
  @media screen and (min-width: 420px) {
    .es-kv {
      &__title1 {
        font-size: 22px;
      }
      &__title2 {
        font-size: 22px;
      }
    }

    .es-info {
      &__title {
        font-size: 22px;
      }
    }
  }
  @media screen and (min-width: 500px) {
    .es-kv {
      &__title1 {
        font-size: 28px;
      }
      &__title2 {
        font-size: 28px;
      }
    }
    .es-info {
      &__title {
        font-size: 28px;
      }
      &__text {
        font-size: 12px;
      }
      &__line {
        display: block;
        position: absolute;
        top: 73%;
        right: 5%;
        width: 35%;
      }
      &__desc {
        font-size: 22px;
      }
    }
  }
  @media screen and (min-width: 535px) {
    .es-kv {
      &__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
      &__model {
        width: 45%;
        object-fit: cover;
        order: 3;
      }
      &__wrapper {
        width: 55%;
        order: 1;
        position: relative;
      }
      &__bar {
        display: block;
        width: 4.1%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
      }
      &__title1 {
        font-size: 15px;
      }
      &__title2 {
        font-size: 15px;
      }
    }
  }
  @media screen and (min-width: 650px) {
    .es-kv {
      &__title1 {
        font-size: 18px;
      }
      &__title2 {
        font-size: 18px;
      }
    }
    .es-info {
      &__title {
        &--2 {
          top: 15%;
        }
      }
      &__text {
        font-size: 14px;
      }
      &__line {
        top: 70%;
        right: 5%;
        width: 35%;
      }
    }
    .es-cross {
      &__title {
        font-size: 42px;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .es-info {
      &__line {
        top: 65%;
      }
      &__arrow {
      position: absolute;
      &--1 {
        bottom: 22%;
        left: 5%;
      }
      &--2 {
        bottom: 3%;
        left: 8%;
      }
    }
    }

  }
  @media screen and (min-width: 800px) {
    .es-kv {
      &__title1 {
        font-size: 23px;
      }
      &__title2 {
        font-size: 23px;
      }
    }
    .es-info {
      &__title {
        &--2 {
          top: 13%;
        }
      }
      &__line {
        top: 63%;
      }
      &__desc {
        font-size: 28px;
      }
    }
    .es-use {
      &__wrapper {
        flex-wrap: nowrap;
      }
      &__single {
        width: 25%;
      }
    }
  }
  @media screen and (min-width: 990px) {
    .es-kv {
      &__title1 {
        font-size: 28px;
      }
      &__title2 {
        font-size: 28px;
      }
      &__ba {
        width: 200px;
        flex-wrap: wrap;
        position: absolute;
        top: 18%;
        left: 33%;
      }
    }
    .es-info {
      &__title {
        &--2 {
          top: 12%;
        }
      }
      &__line {
        top: 60%;
      }
    }
  }
}